---
layout: default
permalink: /about/
---    	
        <!-- header -->

        	<header role="header">

            	<div class="container">

                {% include header-logo.html %}

                    <!-- nav -->

                    <nav role="header-nav" class="navy">

                        <ul>

                            <li><a href="/" title="Work">Work</a></li>

                            <li class="nav-active"><a href="/about/" title="About">About</a></li>

                            <li><a href="/blog/" title="Blog">Blog</a></li>

                            <li><a href="/contact/" title="Contact">Contact</a></li>

                        </ul>

                    </nav>

                    <!-- nav -->

                </div>

            </header>

        <!-- header -->

        <!-- main -->

        <main role="main-inner-wrapper" class="container">

        	

            <div class="row">

            

            	<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

                	<article role="pge-title-content">

                    	<header>

                        	<h2><span>We Do</span> What we love to do.</h2>

                        </header>

                        <p>Over 40,000 customers use our themes to power their websites and we love them.</p>

                    </article>

                </section>

                

                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                	<article class="about-content">

                    	<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc, fiant sollemnes in futurum.</p>

                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consueum formas humanitatis per seacula quarta deciEodem modo tythepi, qui nunc, fiant sollemnes in futurum.</p>

                    </article>

                </section>

                

                <div class="clearfix"></div>

                

                <!-- thumbnails -->

                	<div class="thumbnails-pan">
                        {% for item in site.data.team %}
                    	<section class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">

                        	<figure>

                            	<img src="/images/about-images/{{item.url}}" class="img-responsive"/>

                            	<figcaption>

                                	<h3>{{item.name}}</h3>

                                    <h5>{{item.post}}</h5>

                                </figcaption>

                            </figure>

                        </section>
                        {% endfor %}

                    </div>

                <!-- thumbnails -->
            </div>

        </main>

    	<!-- main -->