<ul class="grid-lod effect-2" id="grid">
{% for item in site.data.blog-bottom %}
    <li>
        <section class="blog-content">
            <a href="/blog-details/">
            <figure>
                <div class="post-date">
                    <span>24</span> July 2016
                </div>
                <img src="/images/blog-images/blog-1.jpg" alt="" class="img-responsive"/>
            </figure>
            </a>
            <article>
                This is a sample news post title content or sample post heading.
            </article>
        </section>
    </li>
{% endfor %}
</ul>